# SAVING /UncGS and uncertainy.py

.*
*__pycache__*
**/__init__.py
!ray_splat_renderer/ray_splat_renderer/__init__.py
*.pyc
*LICENSE
*.o
*.so
*.pth
*.png
*.egg-info
*.dump
build/

outputs
outputs_uncertainty
renders
tests
processed

Dockerfile
pixi.lock
pixi.toml

colab
data
docs
gsplat

*.pt
*.log

*.csv
*.ods

README.md